/* 
    Document   : zoombar
    Created on : 05-Sep-2011, 19:53:54
    Author     : al
    Description:
        Styles for timeline zoombar components.
*/

.ZoomIn {
    left: 20px;
    top: 80%; 
    width: 18px; 
    height: 18px; 
    position: absolute;
    z-index: 150;
}

.ZoomIn_icon {
    width: 18px; 
    height: 18px; 
    position: relative;
}

.ZoomSlider {
    left: 38px;
    top: 80%; 
    background-image: url("img/hzoombar.png");
    width: 132px; 
    height: 18px; 
    position: absolute;
    z-index: 150;
}

.ZoomSlider_icon {
    top: -1px;
    width: 9px; 
    height: 20px; 
    position: relative;
}

.ZoomOut {
    left: 170px;
    top: 80%; 
    width: 18px; 
    height: 18px; 
    position: absolute;
    z-index: 150;
}

.ZoomOut_icon {
    width: 18px; 
    height: 18px; 
    position: relative;
}
