/* 
    Document   : zoombar
    Created on : 05-Sep-2011, 19:53:54
    Author     : al
    Description:
        Styles for timeline zoombar components.
*/

.PanLeft {
    left: 20px;
    top: 5%; 
    width: 18px; 
    height: 18px; 
    position: absolute;
    z-index: 150;
}

.PanLeft_icon {
    width: 18px; 
    height: 18px; 
    position: relative;
}

.PanRight {
    left: 38px;
    top: 5%; 
    width: 18px; 
    height: 18px; 
    position: absolute;
    z-index: 150;
}

.PanRight_icon {
    width: 18px; 
    height: 18px; 
    position: relative;
}
