grid {
    display: block;

    /*margin: 1em;*/

    width: 100%;
    min-height: 10em;
}

grid table {
    width: 100%;
}

grid table tbody tr:nth-of-type(even) {
    background: #eee;
}

grid table tbody tr:nth-of-type(odd) {
    background: #ccc;
}

grid table tbody td {
    /*min-width: 6em;*/
    padding: 0.25em 0.5em;
}

grid a[selected] {
    font-weight: bold;
    text-decoration: none;
}