#loading_overlay {
   position: fixed;

   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 10000;

   font-size: 16px;

   background: rgba(128, 128, 128, 0.66);
}

#loading_overlay p {
   font-size: 1em;

   max-width: 7em;

   margin: 20% auto;

   box-shadow: 0 0 0.5em 0.1em hsla(0, 0%, 0%, 0.44);

   border-radius: 0.5em;

   padding: 1em;

   /*text-align: center;*/
   background: white;
   color: black;
}
