map #map_canvas {
    width: 100%;
    height: 100%;
}

map > section {
    position: relative;

    margin: 0.1em 0em;
    padding: 0.1em;
}

map > section:first-of-type div {
    display: inline-block;

    position: absolute;
    right: 0em;
}

map > section header {
    text-transform: uppercase;
}

map > section:last-of-type div {
    display: inline-block;
}

map #cwrc_historical_map_control {
    margin: 0.75em;

    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

    border: 1px solid rgba(128, 128, 128, 0.60);
    border-radius: 0.1em;

    padding: 0.5em;

    background-color: #fff;

    font-size: 1em;
}

map #cwrc_historical_map_control input[type=checkbox] {
    vertical-align: bottom;

    margin: 0;
}

map #cwrc_historical_map_control label:first-of-type {
    display: block;

    padding: 0.25em;

    cursor: pointer;
}

map #cwrc_historical_map_control label:last-of-type span {
    line-height: 2em;
    vertical-align: top;
}

map #cwrc_historical_map_control a,
map #cwrc_historical_map_control a:visited,
map #cwrc_historical_map_control a:active {
    text-decoration: none;
    color: black;
}

map #cwrc_historical_map_control a:hover {
    text-decoration: underline;
}
