atlas {
   display: block;
   min-height: 10em;
}

atlas #map_canvas {
   width: 100%;
   height: 100%;
}

atlas > section {
   position: relative;

   margin: 0.1em 0em;
   padding: 0.1em;
}

atlas > section:first-of-type {
   text-align: right;
}

atlas > section:first-of-type div.unplottable {
   display: inline-block;
}

atlas > section:last-of-type div {
   display: inline-block;
}

atlas #cwrc_historical_map_control {
   margin: 0.75em;

   box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

   border: 1px solid rgba(128, 128, 128, 0.60);
   border-radius: 0.1em;

   padding: 0.5em;

   background-color: #fff;

   font-size: 1em;
}

atlas #cwrc_historical_map_control input[type=checkbox] {
   vertical-align: bottom;

   margin: 0;
}

atlas #cwrc_historical_map_control label:first-of-type {
   display: block;

   padding: 0.25em;

   cursor: pointer;
}

atlas #cwrc_historical_map_control label:last-of-type span {
   line-height: 2em;
   vertical-align: top;
}

atlas #cwrc_historical_map_control a,
atlas #cwrc_historical_map_control a:visited,
atlas #cwrc_historical_map_control a:active {
   text-decoration: none;
   color: black;
}

atlas #cwrc_historical_map_control a:hover {
   text-decoration: underline;
}

/* === Legend === */
atlas > section:last-of-type {
   margin-top: 0.5em;

   text-align: center;
}

atlas > section:last-of-type > header {
   text-transform: uppercase;
}
