map {
    display: block;

    margin: 1em 0em;

    width: 100%;
    min-height: 10em;
}

map > header {
    text-align: center;
}

map > header > a {
    text-decoration: none;
}

map > header > a[selected] {
    border-bottom: 3px solid red;
}

map #map_view {
    width: 100%;
    height: 100%;
}