resizer {
   display: block;

   margin-bottom: 1em;
}

resizer .viewport {
   overflow: hidden;
}

resizer .pull-bar {
   border-bottom: 3px double black;

   margin: auto;
   width: 33%;

   text-align: center;
   font-size: 0.75em;

   cursor: s-resize;

   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}