/* DETAILS BOX*/
spotlight > section {
    margin: 1em 0;

    min-height: 5em;
    max-height: 10em;
    height: 10em;

    overflow: auto;

    border: 1px solid #738699;
    border-radius: 0.25em;
    background: white;

    font-size: 13px;
    color: #777;
    font-family: Arial, Tahoma, Sans-serif;
}

spotlight > section .placeholder {
    color: #aaa;
    font-style: italic;
    text-align: center;
}

spotlight > section {
    max-height: 15em;

    font-size: 13px;
    color: #777;
    font-family: Arial, Tahoma, Sans-serif;
}

spotlight > section > div,
spotlight > section > img,
spotlight > section > iframe {
    display: inline-block;
    vertical-align: top;

    max-height: 100%;
}

spotlight > section > img {
    max-height: 10em;
    max-width: 33%;
}

spotlight > section > div {
    padding: 0.25em;
}

spotlight > section > div a {
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px dotted black;
}

spotlight > section > div a:hover {
    border-bottom: 1px solid black;
}

spotlight > section > div > header {
    margin: 0.1em 0;
}

spotlight > section > div > header > span:first-of-type {
    font-weight: bold;
}

spotlight > section > div > header > span:nth-of-type(2) span:before {
    content: '- '
}

spotlight > section > div > section > header {
    margin-bottom: 0.1em;

    text-decoration: underline;
    font-size: 1.25em;
}