tab_pane {
    display: block;

    margin: 0em;

    width: 100%;
    min-height: 10em;
}

tab_pane > header {
    text-align: center;
}

tab_pane > header > a {
    text-decoration: none;
}

tab_pane > header > a+a::before { /* the + operator is for "next-to" */
    content: '•'
}

tab_pane > header > a[selected] {
    border-bottom: 3px solid red;
}