checklist_filter {
   display: block;
   /*margin-bottom: 1em;*/
}

checklist_filter input {
   margin-right: 0em;
}

checklist_filter label {
   border-radius: 0.25em;
}

checklist_filter > div > label {
   display: block;
}

checklist_filter div label > span:last-of-type {
   font-size: 0.8em;
   color: darkgrey;
}

checklist_filter header {
   position: relative;

   margin-bottom: 0.25em;
}

checklist_filter header label {
   position: absolute;
   top: 0em;
   right: 0em;
}

checklist_filter header expander > a {
   font-size: 1em;

   color: black;
}

checklist_filter header expander > a:hover span,
checklist_filter header expander > a:active span,
checklist_filter header expander > a:focus span {
   color: black;
}