date_filter {
    display: block;
}

date_filter input {
    display: block;
    width: 100%;
}

date_filter #time_filter {
    margin: 0.5em;
    margin-bottom: 4em;
}

date_filter header span~span {
    font-size: 0.8em;
}