date_filter {
   display: block;

   box-sizing: border-box;

   padding: 0 0.5em;
}

date_filter input {
   display: block;
   width: 100%;
}

date_filter #time_filter {
   margin: 0.5em;
   margin-bottom: 4em;
}

date_filter header span ~ span {
   font-size: 0.8em;
}

date_filter .noUi-value-horizontal {
   -ms-transform: translate(-50%, 100%);
   -moz-transform: translate(-50%, 100%);
   -webkit-transform: translate(-50%, 100%);
   transform: translate(-50%, 100%);

   font-size: 0.8em;

   cursor: default;
}

date_filter .noUi-connect {
   background: #336699
}

date_filter .noUi-handle {
   cursor: -moz-grab;
   cursor: -webkit-grab;
   cursor: grab;
}

date_filter .noUi-handle:active {
   cursor: -moz-grabbing;
   cursor: -webkit-grabbing;
   cursor: grabbing;
}