/* Tooltip for Export button*/
.exhibit-toolboxWidget-popup {
    position: relative;
}

.exhibit-toolboxWidget-popup:after {
    text-align: left;

    display: none
}

.exhibit-toolboxWidget-popup:hover:after {
    display: block;
    position: absolute;
    left: 2em;

    z-index: 10;
    max-width: 10em;

    border: 1px dotted grey;
    padding: 0.5em;

    background: #ebe7bc;

    content: 'Export As...';
    text-align: left;
    white-space: nowrap;
}

.exhibit-slider {
    border: 1px solid #CCC;
    padding-bottom: 5px;
    background-color: #E3E6EC;
}

.multiGroupEvents {
    width: 300px;
    height: 100px;
    overflow: auto;
}

/* PlotIt Title */
#sidebar > header {
    font-size: 2.5em;
    text-decoration: none;
    font-weight: bold;
}

#sidebar > section {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
}

#sidebar > section > p {
    margin: 0 0;

    font-size: 0.8em;
}

#sidebar > section:nth-of-type(2) {
    margin: 0.5em 0em;
}

#sidebar > section:nth-of-type(2) > a {
    font-size: 1em;
    font-weight: bold;
    color: #000;
}

#sidebar > section > header {
    margin-bottom: 0.25em;
}

/* historical map controls */
#historicalOpacityControls {
    display: block;
    font-size: 1.5em;
}

/* Show/Hide panel buttons */
.cwrc-hide a {
    font-weight: bold;
    color: #000;
    font-size: 1em;
    text-decoration: none;
}

.cwrc-hide a:hover {
    text-decoration: underline;
}

/* DETAILS BOX*/
#detailsBox {
    margin: 1em 0;

    min-height: 5em;
    max-height: 20em;

    overflow: auto;

    border: 1px solid #738699;
    border-radius: 0.25em;
    background: white;
}

#detailsBox .placeholder {
    color: #aaa;
    font-style: italic;
    text-align: center;
}

/* === TIMELINE === */
#timelineArea {
    margin-top: 0.4em;
}

.timeline-event-icon img {
    position: relative;
    top: -6px;
}

.timeline-selected {
    background: white;
    border: 2px dotted blue;
    border-radius: 0.25em;
}

.timeline-band-layer {
    /* because their code only sets it for ie and moz, with prefixes. */
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}

.timeline-band-layer:active {
    /* because their code doesn't seem to set it for while clicked */
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.timeline-band-layer-inner[name='ether-markers']:first-of-type {
    background: rgba(51, 51, 51, 0.30);
}

/* miniline viewport indicator*/
.timeline-ether-highlight {
    border: 1px solid black;
}

.timeline-event-label {
    padding-left: 0.25em;
}

.timeline-date-label {
    box-shadow: 1px 1px 1px #666;
    border-radius: 0 1em 1em 0;

    background: #333;
}

.timeline-date-label-em {
    line-height: 200%;
    color: #fffee6;
    font-weight: bold;
}

/* ==== MAP ====*/
.map-lens {
    display: none;
    /*visibility: hidden;*/
    text-align: left;
    overflow: auto;
    width: 300px;
    height: 100px;
}